@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

// fixes issue w/ material-ui and normalize css
// https://github.com/callemall/material-ui/issues/5129
[type="button"] {
  appearance: none !important;
  -webkit-appearance: none !important;
  cursor: pointer !important;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
p {
  font-size: 1.2em;
  line-height: 130%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
